@model IEnumerable<CaravanMVC.Models.Wagon>

<h1>Wagons</h1>

@foreach(Wagon wagon in Model)
{
    <p><a href="/wagons/@wagon.Id">@wagon.Name</a> Passenger Count: @wagon.PassengerCount(), Average Age: @wagon.AverageAge()</p>
}